<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect FB-page</title>
    <link rel="stylesheet" href="/connect.css" />
  </head>
  <body>
    <div class="container">
      <div class="disp">
        <div>
          <p class="heading">Facebook Page Integration</p>
        <form action="/connect" method="post">
          <input type="submit" value="Connect Page">
        </div>
        
        </form>
      </div>
    </div>
  </body>
</html>
