<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/continue.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <div class="disp">
          <div>
            <div>
                <p style="font-size: xx-large;" class="heading">Facebook Page Integration</p>
            <p style="font-size: larger; ">Integrated Page: <strong>Amazon Business</strong> </p>
            </div>
            
          <form action="/connect" method="post">
            <input type="submit" value="Delete Integration" id="red">
            <input type="submit" value="Reply to Messages" id="blue">
            </form>
          </div>
  </body>
</html>
