<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/continue.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <div class="disp">
          <div>
            <div>
                <p style="font-size: xx-large;" class="heading">Facebook Page Integration</p>
            <p style="font-size: larger; ">Integrated Page: <strong>Amazon Business</strong> </p>
           </div>
            <div class="options">
              <form action="/connect" method="get">
            <input type="submit" value="Delete Integration" id="red">
            
            </form>
            <form action="/user_page" method="get">
              <input type="submit" value="Reply to Messages" id="blue">
            </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          
          
  </body>
</html>
