<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/login_style.css" />
  </head>
  <body>
    <div class="container">
      <div><h1>Login to you account</h1></div>
      <div class="f1">
        <form action="/" method="post">
          <div>
            <label for="email">Email:</label>
            <input class="entries" type="text" name="email" required />
          </div>
          <div>
            <label for="password">Password:</label>
            <input class="entries" type="text" name="password" required />
          </div>
          <div class="cb">
            <input type="checkbox" name="remember" id="cb" />
            <p style="padding-left: 5px">Remember me</p>
          </div>

          <input class="b1" type="submit" value="Login" />
          <div class="b0">
            <p>
              New to MyApp?<a href="/register"><p>Register Now</p></a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
