*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #4267B2;
    display: flex;
    justify-content: center;
    
}
.container{
    flex-grow: 0.23;
    background-color:#4267B2;
    height: 100vh;display: flex;
    justify-content: center;
    align-items: center;
   
}
.disp{
    background-color: white;
    flex-grow: 0.8;
    height: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.disp>div{
    
    flex-grow: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.5%;
}
.disp>div>div{
    margin-top: 10%;
    flex-grow: 0.1;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5px;
}
.heading{
    font-size: xx-large;
    
}
form{
   /* background-color: bisque; */
    width: 100%;
    flex-grow: 0.45;
    display: flex;
    gap: 12.5px;
    flex-direction: column;
}
input{
    flex-grow: 1;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: larger;
    background-color: #4267B2;
}
#red{
    background-color: rgb(184, 81, 81);
}
#blue{
    background-color: #4267B2;
}